@model WebApplication1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4><b>欢迎来到定位查看系统</b></h4>
<hr />
@{
    //var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    //if (loginProviders.Count() == 0) {
        <div>
            <p>
                在您登陆之后，可以选择相应的项目进行展示
            </p>
            <p>
                如果遇到任何问题，请联系<a href="http://www.sim.ac.cn/">我们</a>。
            </p>
            <p style="margin-top:15%">
                <img src="~/Images/simit.jpg" alt="中科院微系统与信息技术研究所" style="max-width:100%;margin-bottom:5px" />
            </p>
        </div>
    @*}
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="使用你的 @p.Caption 帐户登录">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }*@
}
